.auth.page.dimmer i.bait {
  font-size: 4em;
}

/* http://stackoverflow.com/questions/13782277/css3-transforms-and-transitions-webkit */
.bait {
  -webkit-transform: scale(1);
     -moz-transform: scale(1);
      -ms-transform: scale(1);
       -o-transform: scale(1);
          transform: scale(1);

  -webkit-transition: color 0.5s ease-in-out, -webkit-transform 0.3s ease-in-out;
     -moz-transition: color 0.5s ease-in-out, -moz-transform 0.3s ease-in-out;
       -o-transition: color 0.5s ease-in-out, -o-transform 0.3s ease-in-out;
          transition: color 0.5s ease-in-out, transform 0.3s ease-in-out;
}

.bait:hover {
  -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
          transform: scale(1.1);   
}

.dimmer .bait:hover {
  color: rgb(0, 241, 255);
}

.bait:hover {
  color: #00736E;
}

.tracker .bait:hover {
  opacity: 0.7;
}

a {
  text-decoration: none;
}

a.hipster {
  color: inherit;
}

a.mainstream {
  text-decoration: underline;
}


.fixed.launch.button {
  position: fixed;
  top: 63px;
  left: -1px;

  width: 55px;
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transition:
    0.3s width ease,
    0.5s transform ease
  ;
  -moz-transition:
    0.3s width ease,
    0.5s transform ease
  ;
  -o-transition:
    0.3s width ease,
    0.5s transform ease
  ;
  -ms-transition:
    0.3s width ease,
    0.5s transform ease
  ;
  transition:
    0.3s width ease,
    0.5s transform ease
  ;
}

.fixed.launch.button .text {
  position: absolute;
  white-space: nowrap;
  top: auto;
  left: 54px;
  opacity: 0;
  -webkit-transition:
    0.3s opacity 0.3s
  ;
  -moz-transition:
    0.3s opacity 0.3s
  ;
  -o-transition:
    0.3s opacity 0.3s
  ;
  -ms-transition:
    0.3s opacity 0.3s
  ;
  transition:
    0.3s opacity 0.3s
  ;
}
.fixed.launch.button:hover {
  width: 130px;
}
.fixed.launch.button:hover .text {
  opacity: 1;
}