<a class="item">
  Управление ценой
</a>
<a class="item disabled">
  Управление ставками
</a>
<a class="item disabled">
  Размещение на Avito
</a>
<a class="item disabled">
  Генерация прайс листа
</a>
<a class="item disabled">
  Карточки товара
</a>