<link rel="stylesheet" href="/ejs/landing/request_demo/entry.css">

<div class='landing request_demo'>
  <div data-tag='header'>
  Заголовок
  </div>
  <div data-tag='attention'>
    Картинка
  </div>
  <div data-tag='content'>
    Контент
  </div>
</div>