<table class="ui table">
      <tr>
        <td>
<div class="ui card">
  <div class="content">
    <div class="header">
      <i class="line chart icon"></i>
      Увеличение потока</div>
    <div class="description">
      <p>Захватите внимание пользователя дешевыми невостребованными цветами. Вынудите его позвонить вам.</p>
      <p>И продайте дороже то что нужно ему.</p>
    </div>
  </div>
</div>
        </td>
        <td>
<div class="ui card">
  <div class="content">
    <div class="header">
      <i class="wizard icon"></i>
      Экономия средств</div>
    <div class="description">
      <p>Понижение цены на 100 рублей дает больший результат чем применение ставки.</p>
      <p>И вы платите только за покупку, а не каждый просмотр!</p>
    </div>
  </div>
</div>
        </td>
        <td>
<div class="ui card">
  <div class="content">
    <div class="header">
      <i class="history icon"></i>
      Рационализация времени</div>
    <div class="description">
      <p>Сотрудник выполняющий монотонную работу хуже продает, редактирование цены может занимать до 4 человеко-часов ежедневно.</p>
      <p>Позвольте людям делать то в чем они профессионалы.</p>
    </div>
  </div>
</div>
        </td>
        <td>
<div class="ui card">
  <div class="content">
    <div class="header">
      <i class="heartbeat icon"></i>
      Рука на пульсе</div>
    <div class="description">
      <p>Узнайте мгновенно о падении заданных показателей, ни одно изменение рынка не пройдет мимо вас.</p>
      <p>Уведомления о падении позиции, цены на ставки, появления новых предложений.</p>
    </div>
  </div>
</div>
        </td> 
      </tr>
    </table>