
<table class='ui table'>
  <tr>
    <td>
      <img src='/ejs/landing/request_demo/chart.jpg' />
    </td>
    <td>
      <h3>Полный контроль над спросом</h3>
      <p>Тонкое жонглирование присутствием на разных рынках и брендах.</p>
      <p>Ясное виденье всей картины рынка, отслеживание стратегии конкурентов.</p>
    </td>
  </tr>
</table>