<div class='to-head'>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.19.3/css/semantic.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/0.19.3/javascript/semantic.js"></script>
</div>

<%
this.Defer(function()
{
  var element = this.first().detach();
  $('head').append(element);
})
%>