<div class='to-head'>
  <script src="//cdn.jsdelivr.net/semantic-ui/1.0.0/semantic.min.js"></script>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/semantic-ui/1.0.0/semantic.min.css">

  <link rel="stylesheet" href="/css/all.css">
</div>

<%
this.Defer(function()
{
  var element = this.first().detach();
  $('head').append(element);
})
%>