<div class="ui left icon action input fluid tracker">
  <input type='text' placeholder='Введите ссылку на модель' />
  <i class="question icon bait"><fictive></i>
  <div class="ui teal right labeled button">Добавить</div>
</div>

<%
var input;
var popup_base;

this.first(function()
{
  input = this.find('input');
  popup_base = input.next();

  input.keypress(function(e)
  {
    if (e.which != 13)
      return;
    TriggerSend();
  })
  this.find('.button').click(TriggerSend);

  //input.next().hide();
  popup_base
    .popup(
      {
        content: 'Заполнить тестовыми данными?',
        variation: 'inverted',
        delay: 30,
      }).click(function()
  {
    input.val('http://market.yandex.ru/model.xml?modelid=10387597&hid=91491&track=tabs');
    input.next().fadeOut();
  });
});

function TriggerSend()
{
  input.prop('disabled', 'true');

  phoxy.ApiRequest('cp/track/Add', [input.val()], function(res)
  {
    if (typeof res.data == 'undefined')
      return;
    input.prop('disabled', 'false');

    if (typeof res.data.error != 'undefined')
      return popup_base
                .popup({
                  content: res.data.error,
                  position: 'bottom left',
                  on: 'click',
                  variation: 'inverted',
                }).popup('show');

    if (res.data.Add)
      return phoxy.ApiAnswer({reset: true});

    popup_base
      .popup({
        content: "Модель еще неизвестна системе, пожалуйста подождите. Мы сканируем Yandex.Market. Обычно это занимает 10 секунд",
        position: 'bottom left',
        on: 'click',
        variation: 'inverted',
      }).popup('show');

    input.prop('disabled', 'true');
    return phoxy.Defer(TriggerSend, 1000);
  });
}
%>

<%= this.DeferRender('cp/track/refresh', {}) %>
<%= this.DeferRender('cp/track/GetList') %>