<div class="ui input" style='width: 100%'>
  <input type='text' placeholder='Введите ссылку на модель' />
</div>

<%
var input;
function TriggerSend()
{
  phoxy.ApiRequest('cp/track/Add', [input.val()], function(res)
  { // Todo: continious update
    if (res.Add)
      return phoxy.ApiAnswer({reset: true});
    // Tooltip temporary
    return phoxy.Defer(TriggerSend, 400);
  });
}

this.first(function()
{
  input = this.find('input');
  input.keypress(function(e)
  {
    if (e.which != 13)
      return;
    TriggerSend();
  })
});
%>

<div class="ui horizontal divider">
  <i class="circular heart icon"></i>
</div>
<%= this.DeferRender('cp/track/GetList') %>