<div class="ui page dimmer auth">
  <div class="content">
    
    <div class="center">
      <h3>Для продолжения вам нужно войти</h3>
      <p>(мы автоматически создадим профиль, если его нет)</p>
      <div class='auth-buttons'>
        <a class='hipster' href="/auth/vk"><i class="vk icon bait"></i></a>
      </div>
    </div>
  </div>
</div>

<%
function popitup(url)
{ // http://www.quirksmode.org/js/popup.html
  newwindow = window.open(url,'auth','height=500,width=800');
  if (window.focus)
    newwindow.focus();
  return false;
}

this.first(function()
{
  this.dimmer('show');
  this.find('.auth-buttons a').click(function()
  {
    return popitup($(this).attr('href'));
  })
})
%>